extends layout

block content
  .container-fluid
    .row-fluid
      .span9
        #map-canvas
      .span3
        div
          legend
            h2 정보
          div
            div#name-wrap
              label 이름
              label#name
            div#place-wrap
              label 위치
              label#place

        div
          legend
            h2 한줄의견
          ul#comment-wrap
          div#comment-input
            div.input-wrap
              label 비밀번호
              input#password(type="password", name="password", placeholder="****")
            div.input-wrap
              label 코멘트
              input#write(type="text", name="write", placeholder="한줄의견을 입력해주세요")
            button#regist 등록하기


block stylesheets
  link(rel="stylesheet", href="stylesheets/index.css")
block javascripts
  script(type="text/javascript",src="https://maps.google.com/maps/api/js?sensor=true")
  script(type="text/javascript",src="javascripts/map.js")
  script(type="text/javascript",src="javascripts/index.js")
